h2 {
  margin: 10px;
}

.App {
  text-align: left;
  font-size: 1.5rem;
}

.container {
  height: 94dvh;
  /* 100% - 6dvh */
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}

thead th {
  background-color: #4a6eda;
  color: white;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody td {
  padding: 10px;
  text-align: left;
}