.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

video {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

canvas {
  /* position: absolute; */
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
}

.container {
  display: flex;
  height: 80vh;
  justify-content: center;
}

.qr-reader {
  align-items: center;
  align-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.askAsGroup {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button {
  background-color: rgb(231, 76, 60);
  align-content: center;
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 2cm;
  height: 0.5cm;
  box-shadow: inset;
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}